img.monkey {
    width: 100%
}

img.carti {
    width:25%
}

img.shrek {
    width: 30%
}
img.miley {
    width: 50%
}

img.three {
    width:25%
}

img.four {
    width:25%
}

img.five {
    width:25%
}

h1 {
    color:goldenrod;
}